form {
	margin-top: 20px;
}
input {
	border: none;
	border-bottom: 2px solid black;
	margin-top: 20px;
}
textarea {
	margin-top: 20px;
}
.submit {
	border: none;
	padding: 15px;
	background-color: #59b256;
	color: white;
	font-weight: 500;
}